.price-slider-container {
    padding: 16px;
    border-radius: 10px;
    float: right;
    width: 250px;
}

.price-range-label {
    font-weight: bold;
    text-align: center;
    color: #4450A2;
}

.filter-button {
    border: none;
    width: 50px;
    height: 20px;
    border-radius: 20px;
    background: #4450A2;
    margin: 30px auto;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    margin: 5px
}


.filer-range-slider {
    height: '6px';
    width: '100%';
    background: 'white';
    border-radius: '4px';
    margin: '20px 0';
    border: '2px solid grey';
}

.slider-btn{
    display: flex;
    gap: 5px;
        align-items: center;
}